[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DistributionUtils"]
	path = DistributionUtils
	url = https://github.com/cran/DistributionUtils
[submodule "HyperbolicDist"]
	path = HyperbolicDist
	url = https://github.com/cran/HyperbolicDist
[submodule "VarianceGamma"]
	path = VarianceGamma
	url = https://github.com/cran/VarianceGamma
